.h{
    text-align: center;
    color: magenta;
}
.div{
    margin-top: 20px;
    text-align: center;
    font-size: 25px;
    background-color: aquamarine;
}
.a{
    margin-left: 25px;
}
.div1{
    float: left;
    margin-top: 20px;
    background-color: pink;
    width: 200px;
    font-size: 20px;
    height: 500px;
}
.div2{
    margin: 30px;
    padding-top:50px;
}
.div3{
    margin-left: 20px;
    background-color: aqua;
    height: 500px;
    width: 1020px;
    float: left;
    margin-top: 20px;
}
.img{
    height:500px;
    width:1020px;
}